@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

body {
    background-color: rgb(51,51,51);

}

/*header - navbar*/

.logo img{
    width: 50px;
    margin-left:50px;
}

.header{
	background-color: #222;
	display:flex;
    justify-content: space-between;
    align-items: center;  
}

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.menu-icon, #check {
    display: none;
}

@media screen and (max-width: 768px) {
    .checkbtn {
        display:block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 13px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background-color: #222;
        width: 100%;
        height: 100vh;
        right:0;
    }
    .nav-menu ul li {
        padding: 2em;
        display:flex;
        justify-content: center;
        margin: 0;
    }
    #check:checked ~ ul {
        left:0;
    }
}




.menu-horizontal{
	list-style: none;
	display: flex;
}

.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	
}
.menu-horizontal a:hover {
	color: #4ad295;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 7.7em;
	background-color: #222;
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    height: 3em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 10px;
    background-color: rgb(53, 66, 89);
    width: 100%;
}

footer p {
    color: white;
}

h1{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, orange, yellow);

}

h1:hover {
    transform: rotate(180deg);
    transition: 1.5s;
}   


.news {
    display: flex;
    justify-content: center;
}

.imgContainer {
    display: block;
    text-align: center;
    margin: 30px;
}

.form {
    margin: 2em;
	color: lightgray;
}

div p {
	color:lightgrey;
}

.presentacion {
    margin: 1em; 
    border-radius: 15px;
    background-color: rgb(199, 211, 111); 
    background-image: linear-gradient(red, blue);
}

.presentacion p{
    padding: 1.5em;
}


.grid-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 20px;
    
}

.box-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    border: solid 1px; 
    margin: 0.5em;
    transition: transform 0.3s ease-in-out;
	color: aliceblue;
    
}

.box-img img {
    border-radius: 15px;
    width: 100%;
    
}

.box-img:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.servicios-padre {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    padding: 25px;
    margin: 50px;
    background-color: lightgrey;
}

.servicios-hijo1 {
    display: flex;
    justify-content: center;
}

.servicios-hijo1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	padding: 50px;
}

.servicios-hijo2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.servicios-hijo2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	padding: 50px;
}

.servicios-hijo3 {
    display: flex;
    justify-content: center;
}

.servicios-hijo3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 50px;
}


@media (min-width:100px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:520px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:728px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}





